Source: wasta-custom-car
Section: utils
Priority: optional
Maintainer: Nate Marti <nate_marti@sil.org>
Build-Depends: debhelper (>= 9.0.0)
Standards-Version: 3.9.7

Package: wasta-custom-car
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}
Recommends:
Description: Wasta-Linux CAR Customization
 Sets up Wasta-Linux machine for use in CAR
